<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
    <connectionStrings>
    <add name="dbCotyrsaConnectionString" connectionString="Data Source=local;Initial Catalog=dbTyrsa;User ID=usrCotyrsa;Password=Enared01"
      providerName="System.Data.SqlClient" />
    <!--<add name="Adsisplus.Cotyrsa.DataAccess.Properties.Settings.dbTyrsaConnectionString"
      connectionString="Data Source=local;Initial Catalog=dbTyrsa;Persist Security Info=True;User ID=usrCotyrsa;Password=Enared01"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
      </webHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500"/>
    </diagnostics>
    <services>
      <!-- CATÁLOGOS -->
      <service name="Adsisplus.Cotyrsa.WcfService.CatalogoGeneralServices.CatalogoGeneralServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.CatalogoGeneralServices.ICatalogoGeneralServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.CatalogoServices.CatalogoServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.CatalogoServices.ICatalogoServices"/>
      </service>
      <!-- SISTEMA SELECTIVO -->
      <service name="Adsisplus.Cotyrsa.WcfService.CotizacionServices.CotizacionServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.CotizacionServices.ICotizacionServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.CrossBarServices.CrossBarServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.CrossBarServices.ICrossBarServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.DireccionServices.DireccionServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.DireccionServices.IDireccionServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.DistanciadorServices.DistanciadorServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.DistanciadorServices.IDistanciadorServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.EmpresaServices.EmpresaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.EmpresaServices.IEmpresaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.MarcosServices.MarcosServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.MarcosServices.IMarcosServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.PanelServices.PanelServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.PanelServices.IPanelServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.ParrillaServices.ParrillaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.ParrillaServices.IParrillaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.PersonaServices.PersonaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.PersonaServices.IPersonaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.ProteccionServices.ProteccionServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.ProteccionServices.IProteccionServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.SistemasTyrsaServices.SistemaTyrsaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.SistemasTyrsaServices.ISistemaTyrsaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.VigaServices.VigaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.VigaServices.IVigaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.MateriaPrimaServices.MateriaPrimaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.MateriaPrimaServices.IMateriaPrimaServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.GastosServices.GastosServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.GastosServices.IGastosServices" />
      </service>
      <!--SISTEMA DRIVE IN-->
      <service name="Adsisplus.Cotyrsa.WcfService.AtirantadoServices.AtirantadoServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.AtirantadoServices.IAtirantadoServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.BarandalServices.BarandalServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.BarandalServices.IBarandalServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.BrazoServices.BrazoServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.BrazoServices.IBrazoServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.DriveInServices.DriveInServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.DriveInServices.IDriveInServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.GuiaEntradaServices.GuiaEntradaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.GuiaEntradaServices.IGuiaEntradaServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.PisoServices.PisoServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.PisoServices.IPisoServices" />
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.RielTarimaServices.RielTarimaServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.RielTarimaServices.IRielTarimaServices"/>
      </service>
      <service name="Adsisplus.Cotyrsa.WcfService.PosteDriveInServices.PosteDriveInServices">
        <endpoint behaviorConfiguration="newBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Adsisplus.Cotyrsa.WcfService.PosteDriveInServices.IPosteDriveInServices"/>
      </service>
      <!-- DEFINIR NUEVOS SERVICIOS -->
      <!-- -->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="newBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>