<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>


  <connectionStrings>
    <add name="dbSeguridadConnectionString" connectionString="Data Source=localhost;Initial Catalog=dbSeguridad;Persist Security Info=True;User ID=usrSeguridad;Password=Enared00"/>
  </connectionStrings>

  <system.serviceModel>
    <services>

      <service name="Adsisplus.Cotyrsa.Services.DireccionService.DireccionServices" behaviorConfiguration="DgeBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:14000"/>
            <add baseAddress="net.tcp://localhost:14100"/>
          </baseAddresses>
        </host>
        <endpoint address="DireccionServices" binding="netTcpBinding" bindingConfiguration="DgeTcpBinding" contract="Adsisplus.Cotyrsa.Services.DireccionService.Contract.IDireccionServicescs"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Adsisplus.Cotyrsa.Services.EmpresaService.EmpresaServices" behaviorConfiguration="DgeBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:15000"/>
            <add baseAddress="net.tcp://localhost:15100"/>
          </baseAddresses>
        </host>
        <endpoint address="EmpresaServices" binding="netTcpBinding" bindingConfiguration="DgeTcpBinding" contract="Adsisplus.Cotyrsa.Services.EmpresaService.Contract.IEmpresaServicescs"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>        
      </service>

      <service name="Adsisplus.Cotyrsa.Services.PersonaService.PersonaServices" behaviorConfiguration="DgeBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:16000"/>
            <add baseAddress="net.tcp://localhost:16100"/>
          </baseAddresses>
        </host>
        <endpoint address="PersonaServices" binding="netTcpBinding" bindingConfiguration="DgeTcpBinding" contract="Adsisplus.Cotyrsa.Services.PersonaService.Contract.IPersonaServices"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>

      </service>
    </services>
   
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="DgeBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DgeTcpBinding" maxReceivedMessageSize="4294967296" transferMode="Streamed" maxBufferSize="2147483646" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
