<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbCotyrsaConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=dbTyrsa;User ID=usrCotyrsa;Password=Enared01"
      providerName="System.Data.SqlClient" />
    <!--<add name="Adsisplus.Cotyrsa.DataAccess.Properties.Settings.dbTyrsaConnectionString"
      connectionString="Data Source=local;Initial Catalog=dbTyrsa;Persist Security Info=True;User ID=usrCotyrsa;Password=Enared01"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>